/* FOTOS / CARROSEL */
.areaHeader-title {
    font-size: 2rem;
    color: var(--primary-color);
    text-shadow: 0.1em 0em 0.152rem #ffffffea;    
}
.slide{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;    
}
.carousel-item {
    transition: 1s ease;
}
.carousel-control-prev{
    margin-left: -6rem;
    top: 40%;
    transform: translateY(-50%);
}
.carousel-control-next{
    margin-right: -6rem;
    top: 40%;
    transform: translateY(-50%);
}
@media (min-width:320px) {   
    .carousel-control-prev{         
        margin-top: 1rem; 
    }
    .carousel-control-next{
        margin-top: 1rem;
    }
}
@media (min-width:600px) {    
    .carousel-control-prev{
        margin-top: 2rem;
        height: 350px;
    }
    .carousel-control-next{
        margin-top: 2rem;
        height: 350px;
    }    
}
@media (max-width:989px) {   
    .carousel-control-prev{         
         margin-left: -4rem;         
    }
    .carousel-control-next{
        margin-right: -4rem; 
    }    
    .imglogofotos{
        margin-left: -4px;
    }
    .navbar-toggler{
        margin-right: -1rem;
    }   
}
@media (min-width:990px) {
    .carousel-control-prev{
        margin-top: 4rem;
        height: 350px;
    }
    .carousel-control-next{
        margin-top: 4rem;
        height: 350px;
    }
    .navbar{
        height: 75px;
        position: relative;
        margin-left: 5rem;         
    }
    .imglogofotos{
        margin-left: -4rem;
    }   
    .navbar-nav{        
        margin-left: 420px;
    }    
}
@media (min-width:991px) {      
    .imglogofotos{
        margin-left: -3rem;
    }   
    .navbar-nav{        
        margin-right: 2rem;
    }    
}
/* FIM FOTOS */